<h2> <%= @my_concert.artist %> </h2>

<h3> <%= @my_concert.description %> </h3>

<p> <%= @my_concert.venue %> </p>

<p> <%= @my_concert.city %> </p>

<p> <%= @my_concert.date %> </p>

<p> $<%= @my_concert.price %> </p>

<a href="/"> Home </a>