
<% if @new_entry.errors.any? %>
	<ul>

		<% @new_entry.errors.full_messages.each do |error_msg| %>
		<li> <%= error_msg %> </li>
		<% end %>
	</ul>
<% end %>

<%= form_for [@my_project, @new_entry] do |f| %>
		<%= f.label :hours %>
		<%= f.text_field :hours %>
	<br>
		<%= f.label :minutes %>
		<%= f.text_field :minutes %>
	<br>
		<%= f.label :date %>
		<%= f.date_field :date %>
	<br>
		<%= f.label :comments %>
		<%= f.text_area :comments %>
	<br>	
		<%= f.button %>
<% end %>