<h1> <%= @my_project.name %> </h1>
<ul>
	<% @my_entries.each do |entry| %>
	<li>
		<%= entry.hours %> h
		<%= entry.minutes %> m
		<%= entry.date %> 
	
		<a href='/projects/<%= @my_project.id %>/time_entries/<%= entry.id %>/edit'>
		Edit
		</a>
		<a href='<%= project_time_entry_path(@my_project, entry) %>', data-confirm="are you sure?", data-method="delete">
		Delete
		</a>	
	</li>
	<% end %>
</ul>

<a href="/projects/<%= @my_project.id %>/time_entries/new">
	Add a Time Entry to <%= @my_project.name %>
</a>
<br>
